# Virtual environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Environment variable files
.env
*.env

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Streamlit cache and logs
.streamlit/
logs/

# VSCode settings (if using VSCode)
.vscode/

# macOS and Windows system files
.DS_Store
Thumbs.db
desktop.ini

# Build / distribution
build/
dist/
*.egg-info/
*.egg

# Python packaging
*.log
*.pyo
*.pyd
*.pdb

# MyPy / other Python tools
.mypy_cache/
.cache/

# PyInstaller
*.spec
